@model List<Pessoa>

<h1>Listagem de Usuários</h1>

<a asp-controller="Pessoa" asp-action="Criar" class="btn btn-primary">Criar Usuário</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Sobrenome</th>
            <th scope="col">CPF</th>
            <th scope="col">Tipo Sanguineo</th>
            <th scope="col">Data de Nascimento</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Nome</td>
                <td>@item.Sobrenome</td>
                <td>@item.CPF</td>
                <td>@item.TipoSanguineo.ToString()</td>
                <td>@item.DataNascimento</td>
            </tr>
        }

    </tbody>
</table>